{% load static %}
<!DOCTYPE html>
<html>
    <script>
        function AddItem(MediName, MediBrand, UserID, MediID, BranchName){
            function AddProduct(UserID, MediID, BranchName, Num){
                return true;
            }
            /*Call database*/
            Ret = AddProduct(UserID, MediID, BranchName, 1);
            if (Ret){
                alert("Successfully added medicine " + MediName + "(" + MediID + " " + MediBrand + ")x1 to your shopping cart in hospital " + BranchName + ".");
            }else{
                alert("Failed to add medicine " + MediName + "(" + MediID + " " + MediBrand + ") to your shopping cart in hospital " + BranchName + ". Please refresh this page.");
                location.reload();
            }
        }
    </script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Pharmacy</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Animated-Pretty-Product-List-v12.css' %}">
    <link rel="stylesheet" href="{% static 'css/Black-Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Features-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'css/Google-Style-Login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{% static 'css/Navbar---Apple-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navbar---Apple.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pretty-Search-Form.css' %}">
    <link rel="stylesheet" href="{% static 'css/Profile-Edit-Form-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Profile-Edit-Form.css' %}">
    <link rel="stylesheet" href="{% static 'css/Team-Boxed.css' %}">
</head>

<body>
    <header class="text-center text-white masthead" style="background:url({% static 'img/background1.jpg' %} )no-repeat center center;background-size:cover;">
        <div class="overlay" style="background: rgba(0,123,255,0.22);opacity: 1;"></div>
    </header>
    <section class="text-center bg-light testimonials">
        <div class="container">
            <div class="row product-list dev">
                <div class="col-sm-6 col-md-4 product-item animation-element"></div>
                <div class="col-sm-6 col-md-4 product-item animation-element">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image"><img src="{{MediInfo_.5}}"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a>{{MediInfo_.2}}</a></h2>
                            </div>
                            <div class="col-8">
                                {{MediInfo_.0}} {{MediInfo_.1}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">{{MediInfo_.3}}</p>
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-light" type="button" onclick="AddItem('{{MediInfo_.2}}', '{{MediInfo_.0}}', '{{UserID_}}', '{{MediInfo_.1}}', '{{Selected_}}')">Buy Now!</button>
                                    </div>
                                    <div class="col-6">
                                        <p class="product-price">￥{{MediInfo_.4}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element"></div>
            </div>
        </div>
    </section>
    <section class="text-center text-white call-to-action" style="background:url({% static 'img/background2.jpg' %}) no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
    </section>
    <footer class="bg-light footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start my-auto h-100">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="/about">About</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark navbar--apple">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#menu"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"><i class="fa fa-th-list"></i></span></button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item d-none d-xs-block d-md-block"><a class="nav-link" href="/home"><i class="fas fa-hospital apple-logo"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/account">Account</a></li>
                    <li class="nav-item d-none d-xs-block d-md-block"></li>
                    <li class="nav-item d-none d-xs-block d-md-block"><a class="nav-link" href="/bill"><i class="icon-basket"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="{% static 'js/Animated-Pretty-Product-List-v12.js' %}"></script>
    <script src="{% static 'js/Navbar---Apple.js' %}"></script>
    <script src="{% static 'js/Profile-Edit-Form.js' %}"></script>
</body>

</html>