{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Pharmacy</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Animated-Pretty-Product-List-v12.css' %}">
    <link rel="stylesheet" href="{% static 'css/Black-Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Features-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'css/Google-Style-Login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{% static 'css/Navbar---Apple-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navbar---Apple.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pretty-Search-Form.css' %}">
    <link rel="stylesheet" href="{% static 'css/Profile-Edit-Form-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Profile-Edit-Form.css' %}">
    <link rel="stylesheet" href="{% static 'css/Team-Boxed.css' %}">
</head>

<body>
    <header class="text-center text-white masthead" style="background:url({% static 'img/background1.jpg' %} )no-repeat center center;background-size:cover;">
        <div class="overlay" style="background: rgba(0,123,255,0.22);opacity: 1;"></div>
    </header>
    <section class="text-center bg-light features-icons" style="height: 220px;margin: 0px;">
        <div class="col-xl-9 mx-auto position-relative">
            <form class="search-form">
                <div class="input-group"><span class="input-group-text"><i class="fa fa-search"></i></span><input class="form-control" type="text" placeholder="I am looking for.."><button class="btn btn-primary btn-lg" type="submit">Search </button></div>
            </form>
        </div>
    </section>
    <section class="text-center bg-light testimonials">
        <div class="container">
            <div class="row product-list dev">
                <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-rotate-clockwise">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-top-right">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-fade-slow">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-fade">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-fade-xslow">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-left">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-top">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-right">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-bottom-left">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-bottom">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-bottom-right">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-rotate-clockwise-180">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-rotate-counterclockwise">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-rotate-counterclockwise-180">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-right-rotate-counterclockwise">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-flip-x">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-left-rotate-clockwise">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-right-flip-x-y">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-flip-y">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 product-item animation-element slide-left-flip-x-y">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h2><a href="#">iPhone 6s</a></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                    <div class="col-6">
                                        <p class="product-price">$599.00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center text-white call-to-action" style="background:url(&quot;assets/img/background2.jpg&quot;) no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
    </section>
    <footer class="bg-light footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start my-auto h-100">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="about.html">About</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark navbar--apple">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#menu"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"><i class="fa fa-th-list"></i></span></button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item d-none d-xs-block d-md-block"><a class="nav-link" href="index.html"><i class="fas fa-hospital apple-logo"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="account.html">Account</a></li>
                    <li class="nav-item d-none d-xs-block d-md-block"></li>
                    <li class="nav-item d-none d-xs-block d-md-block"><a class="nav-link" href="bill.html"><i class="icon-basket"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="{% static 'js/Animated-Pretty-Product-List-v12.js' %}"></script>
    <script src="{% static 'js/Navbar---Apple.js' %}"></script>
    <script src="{% static 'js/Profile-Edit-Form.js' %}"></script>
</body>

</html>