.product-list {
  overflow: hidden;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.product-item {
  padding: 10px;
}

.product-item .product-container {
  text-align: left;
  font: normal 14px sans-serif;
  background-color: #ffffff;
  border: 1px solid #dbe3e7;
  border-radius: 3px;
  box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.08);
  padding: 25px;
}

.product-item a.product-image {
  display: block;
  text-align: center;
  box-shadow: 0 0 20px 8px #f3f3f3 inset;
  width: 100%;
  margin-bottom: 25px;
  padding: 20px 0;
  box-sizing: border-box;
}

.product-item a.product-image img {
  height: 130px;
}

.product-item h2 {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  font-weight: 800;
}

.product-item h2 a {
  text-decoration: none;
  color: #2b2b2b;
}

.product-item a.small-text {
  color: #808080;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  text-align: right;
  font-size: 12px;
}

.product-item .product-rating {
  color: #f09911;
  font-size: 14px;
}

.product-item .product-rating a.small-text {
  text-align: left;
  margin: 0 0 0 10px;
  display: inline-block;
}

.product-item p.product-description {
  margin-top: 20px;
  color: #5d5d5d;
  line-height: 1.45;
  white-space: normal;
  margin-bottom: 20px;
}

.product-item button {
  border-radius: 2px;
  background: #87bae1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  padding: 8px 20px;
}

.product-item button:active {
  background: #87bae1;
  color: #fff;
  border: 0;
}

.product-item button:focus {
  background: #87bae1;
  outline: none;
  color: #fff;
}

.product-item button:hover {
  background: #66ABE0;
  color: #fff;
}

.product-item button:focus:active {
  background: #87bae1;
  outline: none;
  color: #fff;
}

.product-item .product-price {
  color: #4e4e4e;
  font-weight: bold;
  font-size: 20px;
  padding-top: 5px;
  text-align: right;
}

.animation-element {
  opacity: 0;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-top {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(0px, -100px, 0px);
  -webkit-transform: translate3d(0px, -100px, 0px);
  -o-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate3d(0px, -100px, 0px);
}

.animation-element.slide-top-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, -100px, 0px);
  -webkit-transform: translate3d(-100px, -100px, 0px);
  -o-transform: translate(-100px, -100px);
  -ms-transform: translate(-100px, -100px);
  transform: translate3d(-100px, -100px, 0px);
}

.animation-element.slide-top-right {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, -100px, 0px);
  -webkit-transform: translate3d(100px, -100px, 0px);
  -o-transform: translate(100px, -100px);
  -ms-transform: translate(100px, -100px);
  transform: translate3d(100px, -100px, 0px);
}

.animation-element.slide-bottom {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100px, 0px);
}

.animation-element.slide-bottom-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 100px, 0px);
  -webkit-transform: translate3d(-100px, 100px, 0px);
  -o-transform: translate(-100px, 100px);
  -ms-transform: translate(-100px, 100px);
  transform: translate3d(-100px, 100px, 0px);
}

.animation-element.slide-bottom-right {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 100px, 0px);
  -webkit-transform: translate3d(100px, 100px, 0px);
  -o-transform: translate(100px, 100px);
  -ms-transform: translate(100px, 100px);
  transform: translate3d(100px, 100px, 0px);
}

.animation-element.slide-rotate-clockwise {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.animation-element.slide-left-rotate-clockwise {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(-300px, 0px, 0px) rotate(0deg);
  -webkit-transform: translate3d(-300px, 0px, 0px) rotate(0deg);
  -o-transform: translate(-300px, 0px) rotate(0deg);
  -ms-transform: translate(-300px, 0px) rotate(0deg);
  transform: translate3d(-300px, 0px, 0px) rotate(0deg);
}

.animation-element.slide-rotate-counterclockwise {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.animation-element.slide-right-rotate-counterclockwise {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(300px, 0px, 0px) rotate(360deg);
  -webkit-transform: translate3d(300px, 0px, 0px) rotate(360deg);
  -o-transform: translate(300px, 0px) rotate(360deg);
  -ms-transform: translate(300px, 0px) rotate(360deg);
  transform: translate3d(300px, 0px, 0px) rotate(360deg);
}

.animation-element.slide-rotate-clockwise-180, .animation-element.slide-rotate-counterclockwise-180 {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.animation-element.slide-fade {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
}

.animation-element.slide-fade-slow {
  opacity: 0;
  -moz-transition: all 2000ms linear;
  -webkit-transition: all 2000ms linear;
  -o-transition: all 2000ms linear;
  transition: all 2000ms linear;
}

.animation-element.slide-fade-xslow {
  opacity: 0;
  -moz-transition: all 3000ms linear;
  -webkit-transition: all 3000ms linear;
  -o-transition: all 3000ms linear;
  transition: all 3000ms linear;
}

.animation-element.slide-flip-x {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.animation-element.slide-flip-y {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: rotateX(360deg);
  -webkit-transform: rotateX(360deg);
  -o-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

.animation-element.slide-left-flip-x-y {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(-200px, 0px, 0px) rotateX(360deg) rotateY(360deg);
  -webkit-transform: translate3d(-200px, 0px, 0px) rotateX(360deg) rotateY(360deg);
  -o-transform: translate(-200px, 0px) rotateX(360deg) rotateY(360deg);
  -ms-transform: translate(-200px, 0px) rotateX(360deg) rotateY(360deg);
  transform: translate3d(-200px, 0px, 0px) rotateX(360deg) rotateY(360deg);
}

.animation-element.slide-right-flip-x-y {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(200px, 0px, 0px) rotateX(360deg) rotateY(360deg);
  -webkit-transform: translate3d(200px, 0px, 0px) rotateX(360deg) rotateY(360deg);
  -o-transform: translate(200px, 0px) rotateX(360deg) rotateY(360deg);
  -ms-transform: translate(200px, 0px) rotateX(360deg) rotateY(360deg);
  transform: translate3d(200px, 0px, 0px) rotateX(360deg) rotateY(360deg);
}

.animation-element.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-rotate-clockwise.in-view, .animation-element.slide-rotate-counterclockwise-180.in-view {
  opacity: 1;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.animation-element.slide-rotate-counterclockwise.in-view, .animation-element.slide-rotate-clockwise-180.in-view {
  opacity: 1;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.animation-element.slide-left-rotate-clockwise.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px) rotate(360deg);
  -webkit-transform: translate3d(0px, 0px, 0px) rotate(360deg);
  -o-transform: translate(0px, 0px) rotate(360deg);
  -ms-transform: translate(0px, 0px) rotate(360deg);
  transform: translate3d(0px, 0px, 0px) rotate(360deg);
}

.animation-element.slide-right-rotate-counterclockwise.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px) rotate(0deg);
  -webkit-transform: translate3d(0px, 0px, 0px) rotate(0deg);
  -o-transform: translate(0px, 0px) rotate(0deg);
  -ms-transform: translate(0px, 0px) rotate(0deg);
  transform: translate3d(0px, 0px, 0px) rotate(0deg);
}

.animation-element.slide-flip-x.in-view {
  opacity: 1;
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.animation-element.slide-flip-y.in-view {
  opacity: 1;
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.animation-element.slide-left-flip-x-y.in-view, .animation-element.slide-right-flip-x-y.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  -webkit-transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  -o-transform: translate(0px, 0px) rotateX(0deg) rotateY(0deg);
  -ms-transform: translate(0px, 0px) rotateX(0deg) rotateY(0deg);
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
}

.dev.product-list .product-item {
  opacity: 1;
  -moz-transform: none !important;
  -webkit-transform: none !important;
  -o-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}

