{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>关于 - 药房</title>
    <link rel="stylesheet" href="{% static 'pharmacy_user/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="{% static 'pharmacy_user/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Animated-Pretty-Product-List-v12.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Black-Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Features-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Google-Style-Login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Navbar---Apple-1.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Navbar---Apple.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Pretty-Search-Form.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Profile-Edit-Form-1.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Profile-Edit-Form.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Team-Boxed.css' %}">
</head>

<body>
    <header class="text-center text-white masthead" style="background:url({% static 'pharmacy_user/img/background1.jpg' %} )no-repeat center center;background-size:cover;">
        <div class="overlay" style="background: rgba(0,123,255,0.22);opacity: 1;"></div>
    </header>
    <section class="showcase">
        <div class="container-fluid p-0">
            <section class="features-boxed">
                <div class="container" style="height: 80px;">
                    <div class="intro"></div>
                </div>
            </section>
            <section class="features-boxed">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center">关于</h2>
                        <p class="text-center">药房管理系统，浙江大学软件工程课程项目</p>
                    </div>
                </div>
            </section>
            <section class="features-boxed">
                <div class="container" style="height: 80px;">
                    <div class="intro"></div>
                </div>
            </section>
            <section class="team-boxed">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center">贡献者</h2>
                    </div>
                    <div class="row people">
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="https://github.com/zyxzyq.png">
                                <h3 class="name">zyxzyq<br></h3>
                                <div class="social"><a href="https://github.com/zyxzyq"><i class="fa fa-github"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="https://github.com/YJJfish.png">
                                <h3 class="name">YJJfish</h3>
                                <div class="social"><a href="https://github.com/YJJfish"><i class="fa fa-github"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="https://github.com/zooay-zzy.png">
                                <h3 class="name">zooay-zzy<br></h3>
                                <div class="social"><a href="https://github.com/zooay-zzy"><i class="fa fa-github"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row people" >
                        <div class="col-md-6 col-lg-1 item">
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="https://github.com/zju-stu-lizheng.png">
                                <h3 class="name">zju-stu-lizheng<br></h3>
                                <div class="social"><a href="https://github.com/zju-stu-lizheng"><i class="fa fa-github"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 item">
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="https://github.com/LuminaDCIX.png">
                                <h3 class="name">LuminaDCIX<br></h3>
                                <div class="social"><a href="https://github.com/LuminaDCIX"><i class="fa fa-github"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-1 item">
                        </div>
                    </div>
                </div>
            </section>
            <section class="features-boxed">
                <div class="container" style="height: 80px;">
                    <div class="intro"></div>
                </div>
            </section>
        </div>
    </section>
    <section class="text-center text-white call-to-action" style="background: url({% static 'pharmacy_user/img/background2.jpg' %}) no-repeat center center;background-size: cover;">
        <div class="overlay"></div>
    </section>
    <footer class="bg-light footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start my-auto h-100">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="{% url 'about' %}">关于</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="{% url 'contact' %}">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark navbar--apple">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#menu"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"><i class="fa fa-th-list"></i></span></button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item d-none d-xs-block d-md-block"><a class="nav-link" href="{% url 'home' %}"><i class="fas fa-hospital apple-logo"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">首页</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">关于</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">联系我们</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="{% static 'pharmacy_user/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'pharmacy_user/js/bs-init.js' %}"></script>
    <script src="{% static 'pharmacy_user/js/Animated-Pretty-Product-List-v12.js' %}"></script>
    <script src="{% static 'pharmacy_user/js/Navbar---Apple.js' %}"></script>
    <script src="{% static 'pharmacy_user/js/Profile-Edit-Form.js' %}"></script>
</body>

</html>
