{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>账号 - 药房</title>
    <link rel="stylesheet" href="{% static 'pharmacy_user/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="{% static 'pharmacy_user/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Animated-Pretty-Product-List-v12.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Black-Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Features-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Google-Style-Login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Navbar---Apple-1.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Navbar---Apple.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Pretty-Search-Form.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Profile-Edit-Form-1.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Profile-Edit-Form.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Team-Boxed.css' %}">
</head>

<body>
    <header class="text-center text-white masthead" style="background:url({% static 'pharmacy_user/img/background1.jpg' %} )no-repeat center center;background-size:cover;">
        <div class="overlay" style="background: rgba(0,123,255,0.22);opacity: 1;"></div>
    </header>
    <section class="showcase">
        <div class="container-fluid p-0">
            <section class="features-boxed">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center">欢迎来到药房, {{UserName_}}</h2>
                        <p class="text-center">管理您的个人账号信息</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="container profile profile-view" id="profile">
            <div class="row">
                <div class="col-md-12 alert-col relative">
                    <div class="alert alert-info alert-dismissible absolue center" role="alert"><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button><span>Profile save with success</span></div>
                </div>
            </div>
            <form>
                <div class="row profile-row">
                    <div class="col-md-4 relative">
                        <div class="avatar">
                            <div class="avatar-bg center"></div>
                        </div><input class="form-control form-control" type="file" name="avatar-file">
                    </div>
                    <div class="col-md-8">
                        <h1>个人信息 </h1>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group mb-3"><label class="form-label">名 </label><input class="form-control" type="text" name="firstname"></div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group mb-3"><label class="form-label">姓 </label><input class="form-control" type="text" name="lastname"></div>
                            </div>
                        </div>
                        <div class="form-group mb-3"><label class="form-label">邮箱 </label><input class="form-control" type="email" autocomplete="off" required="" name="email"></div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group mb-3"><label class="form-label">密码 </label><input class="form-control" type="password" name="password" autocomplete="off" required=""></div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group mb-3"><label class="form-label">确认密码</label><input class="form-control" type="password" name="confirmpass" autocomplete="off" required=""></div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 content-right"><button class="btn btn-primary form-btn" type="submit">保存 </button><button class="btn btn-danger form-btn" type="reset">取消 </button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="text-center text-white call-to-action" style="background:url({% static 'pharmacy_user/img/background2.jpg' %}) no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
    </section>
    <footer class="bg-light footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start my-auto h-100">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="{% url 'about' %}">关于</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="{% url 'contact' %}">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark navbar--apple">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#menu"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"><i class="fa fa-th-list"></i></span></button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item d-none d-xs-block d-md-block"><a class="nav-link" href="{% url 'home' %}"><i class="fas fa-hospital apple-logo"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">首页</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">关于</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">联系我们</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account' %}">账号</a></li>
                    <li class="nav-item d-none d-xs-block d-md-block"></li>
                    <li class="nav-item d-none d-xs-block d-md-block"><a class="nav-link" href="{% url 'bill' %}"><i class="icon-basket"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="{% static 'pharmacy_user/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'pharmacy_user/js/bs-init.js' %}"></script>
    <script src="{% static 'pharmacy_user/js/Animated-Pretty-Product-List-v12.js' %}"></script>
    <script src="{% static 'pharmacy_user/js/Navbar---Apple.js' %}"></script>
    <script src="{% static 'pharmacy_user/js/Profile-Edit-Form.js' %}"></script>
</body>

</html>
