{% load static %}
<!DOCTYPE html>
<html>
    <script>
        var CheckOutURL = "{% url 'checkout' %}";
        var SetItemURL = "{% url 'setitem' %}";
        var CommitBillURL = "{% url 'commitbill' %}";
        var CSRFToken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'pharmacy_user/js/DataBaseInteraction.js' %}"></script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>账单 - 药房</title>
    <link rel="stylesheet" href="{% static 'pharmacy_user/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="{% static 'pharmacy_user/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Animated-Pretty-Product-List-v12.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Black-Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Features-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Google-Style-Login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Navbar---Apple-1.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Navbar---Apple.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Pretty-Search-Form.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Profile-Edit-Form-1.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Profile-Edit-Form.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Team-Boxed.css' %}">
</head>

<body>
    <header class="text-center text-white masthead" style="background:url({% static 'pharmacy_user/img/background1.jpg' %} )no-repeat center center;background-size:cover;">
        <div class="overlay" style="background: rgba(0,123,255,0.22);opacity: 1;"></div>
    </header>
    <section class="text-center bg-light features-icons">
        <div class="container">
            <div class="row" style="padding: 20px;">
                <div class="col-md-3">
                        <form class="form-inline">
                            <div class="form-group">
                                <label >院区</label>
                                <select  class="form-control" onchange="location = '{% url 'bill' %}'+this.options[this.selectedIndex].value;+'/'">
                                    {% for Item_ in BranchList_ %}
                                        {% if Item_ == Selected_ %}
                                            <option value="{{Item_}}" selected="selected">{{Item_}}</option>
                                        {% else %}
                                            <option value="{{Item_}}">{{Item_}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <div></div>
                </div>
                <div class="col-md-3">
                    <div></div>
                </div>
                <div class="col-md-3">
                    <div></div>
                </div>
            </div>
        </div>
        <div id="BillContainer">
        {% for Bill_ in Bills_ %}
        <div class="container" id="{{Bill_.BillID}}_Bill">
            <div class="content" style="border-style: solid;">
            <div class="row" style="padding: 20px;"></div>
            <div class="row g-0">
                <div class="col">
                    <div class="row">
                        <div class="col" style="text-align:center;">
                            {% if Bill_.QueueID == -1 %}
                                <h2>订单号: {{Bill_.BillID}}(未支付)</h2>
                            {% else %}
                                <h2>订单号: {{Bill_.BillID}}</h2>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align:right;padding-right:30px">
                            <h5>{{Bill_.Date}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row product-list dev" id="{{Bill_.BillID}}_Products">
                                {% for Item_ in Bill_.ItemList %}
                                <div class="col-sm-6 col-md-4 product-item animation-element" id="{{Bill_.BillID}}_{{Item_.ID}}">
                                    <div class="product-container">
                                        <div class="row">
                                            <div class="col-md-12"><a class="product-image" href="{% url 'medicineinfo' %}{{Selected_}}/{{Item_.ID}}"><img src="{{Item_.URL}}"></a></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8">
                                                <h2><a href="{% url 'medicineinfo' %}{{Selected_}}/{{Item_.ID}}">{{Item_.Name}}</a></h2>
                                            </div>
                                            <div class="col-8">
                                                {{Item_.ID}} {{Item_.Brand}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="product-description">{{Item_.Description}}</p>
                                                <div class="row">
                                                    <div class="col-6 col-md-4 quantity">
                                                        {% if Bill_.QueueID == -1 and not Item_.Prescripted %}
                                                            <input type="number" class="form-control quantity-input" min="0"
                                                            oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                                                            value="{{Item_.Num}}" id="{{Bill_.BillID}}_{{Item_.ID}}_Quantity"
                                                            onchange="SetItem('{{Bill_.BillID}}', '{{UserID_}}', '{{Item_.ID}}', '{{Selected_}}', this.value)"
                                                            autocomplete="off">
                                                        {% else %}
                                                            <input type="number" class="form-control quantity-input" value="{{Item_.Num}}" id="{{Bill_.BillID}}_{{Item_.ID}}_Quantity" readonly="readonly" autocomplete="off">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-6">
                                                        <p class="product-price" id="{{Bill_.BillID}}_{{Item_.ID}}_Price">￥{{Item_.Price}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h1 id="{{Bill_.BillID}}_Sum">总价: ￥</h1>
                        </div>
                    </div>
                    {% if Bill_.QueueID == -1 %}
                        <button class="btn btn-primary btn-lg" id="{{Bill_.BillID}}_Checkout" type="button" onclick="Checkout('{{UserID_}}', '{{Selected_}}')">支付</button>
                    {% else %}
                        <button class="btn btn-success btn-lg" id="{{Bill_.BillID}}_Checkout" type="button" disabled="" >排队号: {{Bill_.QueueID}}. 柜台号 {{Bill_.WindowID}}</button>
                    {% endif %}
                </div>
            </div>
            <div class="row" style="padding: 20px;"></div>
            </div>
        </div>
        {% endfor %}
        </div>
    </section>
    <section class="text-center text-white call-to-action" style="background:url({% static 'pharmacy_user/img/background2.jpg' %}) no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
    </section>
    <footer class="bg-light footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start my-auto h-100">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="{% url 'about' %}">关于</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="{% url 'contact' %}">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark navbar--apple">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#menu"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"><i class="fa fa-th-list"></i></span></button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item d-none d-xs-block d-md-block"><a class="nav-link" href="{% url 'home' %}"><i class="fas fa-hospital apple-logo"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">首页</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">关于</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">联系我们</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account' %}">账号</a></li>
                    <li class="nav-item d-none d-xs-block d-md-block"></li>
                    <li class="nav-item d-none d-xs-block d-md-block"><a class="nav-link" href="{% url 'bill' %}"><i class="icon-basket"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="{% static 'pharmacy_user/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'pharmacy_user/js/bs-init.js' %}"></script>
    <script src="{% static 'pharmacy_user/js/Animated-Pretty-Product-List-v12.js' %}"></script>
    <script src="{% static 'pharmacy_user/js/Navbar---Apple.js' %}"></script>
    <script src="{% static 'pharmacy_user/js/Profile-Edit-Form.js' %}"></script>
</body>
<script>
    UpdateSumAll();
</script>

</html>
