{% load static %}
<!DOCTYPE html>
<html>
    <script>
        /*Commit the current bill*/
        function Checkout(UserID, BranchName){
            function CommitBill(UserID, BranchName){

            }
            CommitBill(UserID, BranchName);
            //Redirect
            location = "{% url 'checkout' %}"+BranchName+"/";
        }
        function SetItem(BillID, UserID, MediID, BranchName, Num){
            function SetProduct(UserID, MediID, BranchName, Num){
                return true;
            }
            /*Call database*/
            Ret = SetProduct(UserID, MediID, BranchName, Num);
            if (Ret){
                //Get the corresponding element that displays sum
                SumEle = document.getElementById(BillID+"_Sum");
                //Get the element corresponding to this bill
                BillEle = document.getElementById(BillID+"_Products");
                //Get the element corresponding to the checkout button
                CheckoutEle = document.getElementById(BillID+"_Checkout");
                //If Num==0, delete the product
                if (Num == 0){
                    Div = document.getElementById(BillID+"_"+MediID);
                    BillEle.removeChild(Div);
                }
                //Update sum
                Sum = 0
                for(var i = 0; i < BillEle.children.length; i++){
                    Quantity = document.getElementById(BillEle.children[i].id+"_Quantity");
                    Price = document.getElementById(BillEle.children[i].id+"_Price");
                    Sum += Quantity.value*Price.innerHTML.substr(1);
                }
                SumEle.innerHTML = "Sum: ￥"+Sum;
                //Enable or disable the checkout button
                if (Sum == 0)
                    CheckoutEle.setAttribute("disabled", "");
                else
                    CheckoutEle.removeAttribute("disabled");
            }else{
                alert("Failed to add medicine (ID: " + MediID + ") x" + Num + " to your shopping cart in " + BrandName + ". Please refresh this page.");
                location.reload();
            }
        }
    </script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>账单 - 药房</title>
    <link rel="stylesheet" href="{% static 'pharmacy_user/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="{% static 'pharmacy_user/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Animated-Pretty-Product-List-v12.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Black-Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Features-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Google-Style-Login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Navbar---Apple-1.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Navbar---Apple.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Pretty-Search-Form.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Profile-Edit-Form-1.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Profile-Edit-Form.css' %}">
    <link rel="stylesheet" href="{% static 'pharmacy_user/css/Team-Boxed.css' %}">
</head>

<body>
    <header class="text-center text-white masthead" style="background:url({% static 'pharmacy_user/img/background1.jpg' %} )no-repeat center center;background-size:cover;">
        <div class="overlay" style="background: rgba(0,123,255,0.22);opacity: 1;"></div>
    </header>
    <section class="text-center bg-light features-icons">
        <div class="container">
            <div class="row" style="padding: 20px;">
                <div class="col-md-3">
                        <form class="form-inline">
                            <div class="form-group">
                                <label >院区</label>
                                <select  class="form-control" onchange="location = '{% url 'bill' %}'+this.options[this.selectedIndex].value;+'/'">
                                    {% for Item_ in BranchList_ %}
                                        {% if Item_ == Selected_ %}
                                            <option value="{{Item_}}" selected="selected">{{Item_}}</option>
                                        {% else %}
                                            <option value="{{Item_}}">{{Item_}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <div></div>
                </div>
                <div class="col-md-3">
                    <div></div>
                </div>
                <div class="col-md-3">
                    <div></div>
                </div>
            </div>
        </div>
        {% for Bill_ in Bills_ %}
        <div class="container">
            <div class="content" style="border-style: solid;">
            <div class="row" style="padding: 20px;"></div>
            <div class="row g-0">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            {% if Bill_.1 == "" %}
                                <h2>订单号: 未支付</h2>
                            {% else %}
                                <h2>订单号: {{Bill_.1}}</h2>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row product-list dev" id="{{Bill_.1}}_Products">
                                {% for Item_ in Bill_.0 %}
                                <div class="col-sm-6 col-md-4 product-item animation-element" id="{{Bill_.1}}_{{Item_.0}}">
                                    <div class="product-container">
                                        <div class="row">
                                            <div class="col-md-12"><a class="product-image" href="{% url 'medicineinfo' %}{{Selected_}}/{{Item_.0}}"><img src="{{Item_.5}}"></a></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8">
                                                <h2><a href="{% url 'medicineinfo' %}{{Selected_}}/{{Item_.0}}">{{Item_.2}}</a></h2>
                                            </div>
                                            <div class="col-8">
                                                {{Item_.0}} {{Item_.1}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="product-description">{{Item_.3}}</p>
                                                <div class="row">
                                                    <div class="col-6 col-md-4 quantity">
                                                        {% if Bill_.2 == -1 %}
                                                            <input type="number" class="form-control quantity-input" value="{{Item_.6}}" id="{{Bill_.1}}_{{Item_.0}}_Quantity" onchange="SetItem('{{Bill_.1}}', '{{UserID_}}', '{{Item_.0}}', '{{Selected_}}', this.value)">
                                                        {% else %}
                                                            <input type="number" class="form-control quantity-input" value="{{Item_.6}}" id="{{Bill_.1}}_{{Item_.0}}_Quantity" readonly="readonly">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-6">
                                                        <p class="product-price" id="{{Bill_.1}}_{{Item_.0}}_Price">￥{{Item_.4}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h1 id="{{Bill_.1}}_Sum">总价: ￥{{Bill_.4}}</h1>
                        </div>
                    </div>
                    {% if Bill_.2 == -1 %}
                        <button class="btn btn-primary btn-lg" id="{{Bill_.1}}_Checkout" type="button" onclick="Checkout('{{UserID_}}', '{{Selected_}}')">支付</button>
                    {% else %}
                        <button class="btn btn-success btn-lg" id="{{Bill_.1}}_Checkout" type="button" disabled="" >排队号: {{Bill_.2}}. 柜台号 {{Bill_.3}}</button>
                    {% endif %}
                </div>
            </div>
            <div class="row" style="padding: 20px;"></div>
        </div>
        </div>
        {% endfor %}
    </section>
    <section class="text-center text-white call-to-action" style="background:url({% static 'pharmacy_user/img/background2.jpg' %}) no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
    </section>
    <footer class="bg-light footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start my-auto h-100">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="{% url 'about' %}">关于</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="{% url 'contact' %}">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark navbar--apple">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#menu"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"><i class="fa fa-th-list"></i></span></button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item d-none d-xs-block d-md-block"><a class="nav-link" href="{% url 'home' %}"><i class="fas fa-hospital apple-logo"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">首页</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">关于</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">联系我们</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account' %}">账号</a></li>
                    <li class="nav-item d-none d-xs-block d-md-block"></li>
                    <li class="nav-item d-none d-xs-block d-md-block"><a class="nav-link" href="{% url 'bill' %}"><i class="icon-basket"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="{% static 'pharmacy_user/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'pharmacy_user/js/bs-init.js' %}"></script>
    <script src="{% static 'pharmacy_user/js/Animated-Pretty-Product-List-v12.js' %}"></script>
    <script src="{% static 'pharmacy_user/js/Navbar---Apple.js' %}"></script>
    <script src="{% static 'pharmacy_user/js/Profile-Edit-Form.js' %}"></script>
</body>

</html>
